* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 /* header */

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 40px;
    background-color: #a52a2a;
    color: white;  
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 100;
 }

 .headLeft {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: -10px;
 }

 .headLeft h1  {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    flex: 1;
}

 .headLeft img {
    height: 60px;
    width: 60px;
    position: relative;
    margin-top: -20px;
 }

.headCen {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    flex: 1;
}

.headRight nav {
    display: flex;
    align-items: center;
}

.headRight nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    transition: all 0.4s ease;
}

.headRight nav a:hover {
    transform: scale(1.1);
    color: lightgray;
}

/* main */


/* footer */

footer {
    background-color: brown;
    color: #fff;
    padding: 40px 0 20px;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

.footMainDiv {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-left, .footer-center, .footer-right {
    max-width: 300px;
}

.footer-left h3,
.footer-center h4,
.footer-right h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFD700; /* алтын түсті акцент */
}

.footer-left p,
.footer-center p,
.footer-right p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-right a {
    color: #FFD700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-right a:hover {
    color: #fff;
}

.copyright {
    font-size: 13px;
    color: #ddd;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 10px;
}
